
        <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">Theo Harris is a visual artist from Sydney, Australia.</p>
            <hr class="my-4">
            <p>His work explores themes of alienation, self-image and the queer Other.</p>
            <p class="lead">
                <%= link_to "Create Artwork", new_artwork_path, class: "btn btn-primary btn-lg" %>
            </p>
            </div>

            <div class="col-md-6">
                <%= image_tag "Pencil-Purple-Lorikeet.png", class: "home-image" %>
            </div>
            <div>

        </div>
    
